<%- include("../includes/header.ejs", {title:"shelter - View All"}); %>

<h1>Add New shelter</h1>
<form action="/shelter/insert" method="get">
    Shelter Name: <input id="shleterName" name="shelterName" type="text" />
    <br />
    <br />
    Street: <input id="street" name="street" type="text"/>
    <br/>
    <br/>
    City: <input id="city" name="city" type="text"/>
    <br/>
    <br/>
    Zip: <input id="zip" name="zip" type="zip"/>
    <br/>
    <br/>
    <input type="submit" />

</form>
<br/>
<a href="/shelter/all">Back to shelters</a>

<%- include("../includes/footer.ejs"); %>