<%- include("includes/header.ejs", {title:"About Animal Shelter"}); %>

<h1>The Pet Project</h1>

<p>This site is designed to help find animals homes! We link shelters, volunteers, and adopters together to create an easy volunteer or adopting experience.
    You can find information about what animals are up for adoption and where, as well as information about volunteering at your local shelter today! </p>

<p>Shelters can post information about new animals looking for a great home as well as volunteer opportunities.</p>

<p>Applicants looking to adopt an animal can easily upload their personal information for adoption consideration.</p>

<p>Volunteers can upload their contact information to be contacted for volunteer opportunities, or look at shelter records to inquire about volunteering.</p>

<p> The Pet Project is a non profit organization made by a single college student. My name is JT and I am a fourth year computer science student.
    For business inquiries contact me via telephone at (555)555-1234 or email at business@gmail.com. <p>

<p>For troubles regarding the website, contact me via email at debug@test.com. <p>

<p>Below you can find links to an ER diagram and relational schema of the data base!</p>

<a href="/diagram">ER Diagram</a><br />

<br />

<a href="/relationalSchema">Relation Schema</a><br />

<br />

<a href="/">Home</a><br />

<%- include("includes/footer.ejs"); %>