<%- include("../includes/header.ejs", {title:"applicant - View All"}); %>

<h1>Add New applicant</h1>
<form action="/applicant/insert" method="get">
    Name (first then last): <input id="applicantName" name="applicantName" type="text" />
    <br />
    <br />
    Phone: <input id="applicantPhoneNum" name="applicantPhoneNum" type="text"/>
    <br/>
    <br/>
    Social Security Number: <input id="applicantSSN" name="applicantSSN" type="text"/>
    <br/>
    <br/>
    <input type="submit" />

</form>
<br/>
<a href="/applicant/all">Back to applicants</a>

<%- include("../includes/footer.ejs"); %>